<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/header.css">

    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


    <title><%=title %></title>
</head>
<body>
    
    <%-body %>
    


    <script src="../../js/from.js"> </script>
    <script src="../../js/nav.js"></script>
    <script src="../../js/product.js"></script> 
    <script src="../../js/home.js"></script>
    <script src="../../js/addProduct.js"></script>

    
    
    <script src="../../js/js/bootstrap.min.js"></script>

</body>
</html>