

<style>
    .four-0-four-image{
    display: block;
    margin: auto;
}

.four-0-four-msg{
    text-align: center;
    text-transform: capitalize;
    color: #383838;
}

.four-0-four-msg a{
    color: #383838;
}
</style>


<img src="img/404.png" class="four-0-four-image" alt="">
<p class="four-0-four-msg">look like you are lost .Head to baeckto our 
        
        
<a href="#">homepage</a></p>



